header{
    margin-left: 80px;
    margin-top: 30px;
}
#d1{
    display:none;
}
#l1{
    text-decoration:none;
    position: absolute;
    top: 35px;
    left: 230px;
    color: grey;
}
#li1 a:hover{
    color:teal;
    text-decoration: none;
}
#b1{
    margin-left: 430px;
}
.f1{
    width:300px;
    height:30px;
    margin:10px 0px 10px 0px;
    border-radius:5px;
    border:none;
    background-color:#F5F5F5;
}
textarea{
    width:400px;
    height:140px;
    margin-top: 10px;
    background-color:#F5F5F5;
    border-radius: 5px;
    border: none;
    resize: none;
    outline: none;
}
textarea::placeholder{
    padding: 10px 40px 0px 10px;
    opacity: 0.3;
}
::placeholder{
    opacity: 0.4;
}
#btn{
    margin-top: 10px;
    background-color:black;
    color:white;
    width:400px;
    height: 40px;
    border: none;
    border-radius:5px;
    cursor: pointer;
}
footer{
    padding-bottom: 40px;
    padding-top: 50px;
}
@media only screen and (max-width: 700px){
    header{
        margin-left: 30px;
    }
    #li1{
        display:none;
    }
    #b1{
        margin-left: 30px;
    }
    #d1{position: relative;
        display: inline-block;
        cursor: pointer;
    }
    #d2{
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 50px;
        box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2);
    }
    #d1:hover #d2{
        display: inline;
    } 
    #d2{
        margin-left: -250px;
    }
    #d1{
        margin-left: 220px;
        top:-28px;
    }
}